<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ieforex.dao.HelpCenterMapper">

	<resultMap id="HelpCenterList" type="org.ieforex.entity.HelpCenter" ></resultMap>

	<sql id="sql_where">
		<if test="helpCenterId != null and helpCenterId != '' ">
			a.help_center_id = #{helpCenterId}
		</if>
		<if test="categoryId != null and categoryId != '' ">
			and a.category_id = #{categoryId}
		</if>
		<if test="title != null and title != '' ">
			and a.title  like concat("%",#{title},"%")
		</if>	
		<if test="content != null and content != '' ">
			and a.content  like concat("%",#{content},"%")
		</if>
		<if test="author != null and author != '' ">
			and a.author  like concat("%",#{author},"%")
		</if>	
		<if test="publishUserId != null and publishUserId != '' ">
			and a.publish_user_id = #{publishUserId}
		</if>
		<if test="publishDate != null and publishDate != '' ">
			and a.publish_date = #{publishDate}
		</if>
		<if test="status != null and status != '' ">
			and a.status = #{status}
		</if>	
		<if test="createUserId != null and createUserId != '' ">
			and a.create_user_id= #{createUserId}
		</if>
		<if test="createDate != null and createDate != '' ">
			and a.create_date= #{createDate}
		</if>
		<if test="sortNo != null and sortNo != '' ">
			and a.sort_no= #{sortNo}
		</if>	
		<if test="updateUserId != null and updateUserId != '' ">
			and a.update_user_id= #{updateUserId}
		</if>		
		<if test="updateDate != null and updateDate != '' ">
			and a.update_date= #{updateDate}
		</if>		
	</sql> 
	
	<select id="select" parameterType="java.util.HashMap" resultMap="HelpCenterList">
		SELECT a.help_center_id,a.title FROM w_help_center a
		<where>
			<include refid="sql_where"/>
		</where>
		ORDER BY a.sort_no DESC
	</select>
	
	<select id="selectById" resultType="org.ieforex.entity.HelpCenter">
		SELECT title,publish_date,content FROM w_help_center WHERE help_center_id = #{helpCenterId}
	</select>
	
	<select id="selectFirst" resultType="org.ieforex.entity.HelpCenter">
		SELECT a.title,a.publish_date,a.content FROM w_help_center a
			LEFT JOIN w_help_center_category b ON a.category_id = b.category_id
		WHERE a.status = '1' ORDER BY b.sort_no DESC,a.sort_no DESC
			LIMIT 0,1
	</select>

</mapper>