<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ieforex.dao.HomePageMapper">

	<resultMap type="org.ieforex.entity.HomePage" id="homePageList">
	</resultMap>

	<sql id="sql_where">
		<if test="sortNo != null and sortNo != '' ">
			AND	a.sort_no = #{sortNo}
		</if>
		<if test="imageType != null and imageType != '' ">
			AND	a.image_type = #{imageType}
		</if>
		<if test="status != null and status != '' ">
			AND	a.status = #{status}
		</if>
	</sql> 

	<!--查询-->
	<select id="selectByType" parameterType="java.util.HashMap" resultType="org.ieforex.entity.HomePage">
		SELECT a.main_title,a.subhead,a.pic_url,a.link_url 
		FROM w_home_page a
		<where>
			<include refid="sql_where" />
		</where>
		ORDER BY a.sort_no DESC
		<if test="offset != null and limit != null">
		LIMIT #{offset},#{limit}
		</if>
	</select>
	
	<!-- 交易商优惠促销 -->
	<select id="selectDealer" parameterType="java.util.HashMap" resultMap="homePageList">
		SELECT a.main_title,a.subhead,a.pic_url,a.link_url,b.logo_url2,b.name AS dealer_name
		FROM w_home_page a
		LEFT JOIN e_dealer b on a.dealer_id = b.dealer_id
		<where>
			<include refid="sql_where" />
		</where>
		ORDER BY a.sort_no DESC
		<if test="offset != null and limit != null">
		LIMIT #{offset},#{limit}
		</if>
	</select>	
	

</mapper>