<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ieforex.dao.RebateResultMapper">
	
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM e_rebate_result WHERE customer_id =#{customerId}
	</select>
	
</mapper>