<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ieforex.dao.WCustomerMessageMapper">
	<update id="changRead" >
		update w_customer_message set status=1 where message_id=#{messageId} and customer_id=#{customerId}
	</update>
	<!-- 列表的搜索，带条件、排序规则、分页等信息 -->
	<select id="queryList" parameterType="java.util.HashMap" resultType="org.ieforex.entity.WCustomerMessage">
		select * from w_customer_message where customer_id=#{customerId} order by create_date desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="queryTotal" resultType="int">
		select count(*) from w_customer_message where customer_id=#{customerId}
	</select>
	
	<delete id="deleteById" parameterType="Long">
		DELETE  FROM w_customer_message  WHERE message_id=#{ messageId } and customer_id=#{customerId}
	</delete>
	<!-- 未读消息数量 -->
	<select id="msgUnReadNum">
		SELECT COUNT(*) FROM w_customer_message m WHERE m.customer_id = #{customerId} AND m.status =0
	</select>
	
</mapper>